<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winning.dao.MessageMapper">

	<select id="getMessageType" resultType="com.winning.bean.MessageType">
		SELECT
		id,
		msg_type
		FROM
		msg_type
	</select>
	<insert id="saveMessage" parameterType="com.winning.bean.Message">
		INSERT  INTO msg(
			msg_title,
			msg_type,
			msg_date,
			msg_imgs,
			msg_content,
			publish_person
		)VALUES (
			#{message.msg_title},
			#{message.msg_type},
			#{message.msg_date},
			#{message.msg_imgs},
			#{message.msg_content},
			#{message.publish_person}
		)
	</insert>
	<select id="getMessages" resultType="com.winning.bean.Message">
		SELECT
		m.id,
		m.msg_title,
		m.msg_type,
		m.msg_date,
		m.msg_imgs,
		m.msg_content,
		m.publish_person,
		a.account AS  publish_person_name,
		a.head_url AS  head_url
		FROM msg AS m
		LEFT JOIN account AS a
		ON  m.publish_person = a.id
		WHERE m.msg_type = #{msg_type_id}
		ORDER BY cjsj DESC
		Limit #{index},50

	</select>
</mapper>