<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winning.dao.UserMapper">

	<select id="login" resultType="com.winning.bean.Account">
		SELECT
		a.id as user_id,
		a.account,
		a.password AS password
		FROM
		account AS a
		where a.account=#{account} and a.password=#{pwd}
	</select>
	<insert id="loginAndroid">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(*) from user where  bmob_user_id = #{user.id}
		</selectKey>
		<if test="count > 0">
			update user
			SET
			country = #{user.country},
			zodiac=	#{user.zodiac},
			phone=#{user.phone},
			city=#{user.city},
			zipCode=#{user.zipCode},
			signature=	#{user.signature},
			gender=#{user.gender},
			snsplat=#{user.snsplat},
			province=#{user.province},
			constellation=	#{user.constellation},
			age=#{user.age},
			email=#{user.email},
			avatar=#{user.avatar},
			nickname=	#{user.nickname},
			birthday=#{user.birthday},
			addr=#{user.address},
			resume=	#{user.resume},
			fans=#{user.fans},
			followings=#{user.followings},
			rFriends=#{user.rFriends},
			friends = #{user.friends},
			bmob_user_id = #{user.id}
		</if>
		<if test="count == 0">
			INSERT  INTO  user(
				country,
				zodiac,
				phone,
				city,
				zipCode,
				signature,
				gender,
				snsplat,
				province,
				constellation,
				age,
				email,
				avatar,
				nickname,
				birthday,
				addr,
				resume,
				fans,
				followings,
				rFriends,
				friends,
			bmob_user_id
			)VALUES(
				#{user.country},
				#{user.zodiac},
				#{user.phone},
				#{user.city},
				#{user.zipCode},
				#{user.signature},
				#{user.gender},
				#{user.snsplat},
				#{user.province},
				#{user.constellation},
				#{user.age},
				#{user.email},
				#{user.avatar},
				#{user.nickname},
				#{user.birthday},
				#{user.address},
				#{user.resume},
				#{user.fans},
				#{user.followings},
				#{user.rFriends},
				#{user.friends},
			 #{user.id}
			)
		</if>
	</insert>
</mapper>